<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TravelExpenses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="TravelExpenses.Properties.Settings.TravelExpensesConnectionString"
        connectionString="Data Source=SQLTEST\SQL2014;Initial Catalog=TravelExpenses;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
 </startup>
      <userSettings>
        <TravelExpenses.Properties.Settings>
          <setting name="Username" serializeAs="String">
            <value />
          </setting>
          <setting name="Password" serializeAs="String">
            <value />
          </setting>
        </TravelExpenses.Properties.Settings>
    </userSettings>
</configuration>
